# Before you start :
   - These exercises are related to the Subsetting and Descriptive Stats lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1

#### In this challenge we will use the `Temp_States.csv` file. 

#### First import it into a data frame called `temp`.

In [2]:
temp = pd.read_csv('your-code/Temp_States.csv')

#### Print `temp`

In [ ]:
print(temp)

#### Explore the data types of the Temp dataframe. What type of data do we have? Comment your result.

In [ ]:
print(temp.dtypes) # temperature is float, strings are object type

#### Select the rows where state is New York

In [5]:
print(temp.query("State == 'New York'"))

#### What is the average of the temperature of cities in New York?

In [6]:
print(temp.query("State == 'New York'").mean(numeric_only=True))

10.74074074074074

#### We want to know cities and states with Temperature above 15 degress Celcius

In [ ]:
print(temp.query("Temperature > 15"))

#### Now, return only the cities that have a temperature above 15 degress Celcius

In [ ]:
print(temp.query("Temperature > 15").loc[:, ['City']])

#### We want to know which cities have a temperature above 15 degrees Celcius and below 20 degrees Celcius

*Hint: First write the condition then select the rows.*

In [ ]:
print(temp.query("Temperature > 15 and Temperature < 20"))

In [ ]:
temp['State'].value_counts()

#### Find the mean and the standard deviation of the temperature of each state.

*Hint: Use functions from Data Manipulation lesson*

In [ ]:
print(temp.groupby('State').agg({'Temperature': ['mean', 'std']}))

# Challenge 2

#### Load the `employee.csv` file into a DataFrame. Call the dataframe `employee`

In [ ]:
employee = pd.read_csv('./your-code/Employee.csv')

#### Explore the data types of the Temp dataframe. Comment your results

In [ ]:
print(employee.dtypes) # salary and years of employment are int64, others are object type (strings)

#### Show visually the frequency distribution (histogram) of the employee dataset. In few words describe these histograms?

In [ ]:
sns.histplot(data=employee, x='Salary', kde=True)
plt.show()
sns.histplot(data=employee, x='Years', kde=True)
plt.show()
# both histograms have bimodal shape with very thin center and peaks on both sides

In [ ]:
# YOUR CODE HERE

#### What's the average salary in this company?

In [ ]:
print(employee['Salary'].mean())

#### What's the highest salary?

In [ ]:
print(employee['Salary'].max())

#### What's the lowest salary?

In [ ]:
print(employee['Salary'].min())

#### Who are the employees with the lowest salary?

In [ ]:
print(employee.loc[employee['Salary'] == employee['Salary'].min()])

#### Could you give all the information about an employee called David?

In [ ]:
print(employee.query("Name == 'David'"))

#### Could you give only David's salary?

In [ ]:
print(employee.query("Name == 'David'").loc[:, "Salary"])

#### Print all the rows where job title is associate

In [ ]:
print(employee.query("Title == 'Associate'"))

#### Print the first 3 rows of your dataframe

##### Tip : There are 2 ways to do it. Do it both ways

In [ ]:
print(employee.head(3))

In [ ]:
print(employee.iloc[:3])

#### Find the employees who's title is associate and the salary above 55?

In [ ]:
print(employee.query("Title == 'Associate' and Salary > 55"))

#### Group the employees based on their number of years of employment. What are the average salaries in each group?

In [ ]:
print(employee.groupby('Years').agg({'Salary': 'mean'}))

####  What is the average Salary per title?

In [ ]:
print(employee.groupby('Title').agg({'Salary': 'mean'}))

#### Show a visual summary of the data using boxplot. What Are the First and Third Quartiles? Comment your results.

* Hint : Quantiles vs Quartiles*
In Probability and Statistics, quantiles are cut points dividing the range of a probability distribution into continuous intervals with equal probabilities. When division is into four parts the values of the variate corresponding to 25%, 50% and 75% of the total distribution are called quartiles.

In [ ]:
employee.boxplot(column='Salary', by='Title', grid=False)
plt.show()
# analysts have similar salaries, associates have much higher salaries and some of them tend to receive more than others, VP salaries are much higher though they are the few

In [32]:
print(employee['Salary'].quantile(0.25))

35.0

In [ ]:
print(employee['Salary'].quantile(0.75))

#### Is the mean salary per gender different?

In [ ]:
print(employee.groupby("Gender").agg({'Salary': 'mean'})) # yes, by ca. 5%

#### Find the minimum, mean and the maximum of all numeric columns for each Department.

##### Hint: Use functions from Data Manipulation lesson

In [ ]:
print(employee.groupby('Department').agg({'Salary': ['min', 'mean', 'max'], 'Years': ['min', 'mean', 'max']}))

### Bonus Question

#### For each department, compute the difference between the maximal salary and the minimal salary.

##### * Hint: try using `agg` or `apply` and `lambda`*

In [ ]:
# your answer here

# Challenge 3

#### Open the Orders.csv dataset. Name your dataset orders

In [ ]:
orders = pd.read_csv('your-code/Orders.csv')

#### Explore your dataset by looking at the data types and the summary statistics. Comment your results

In [ ]:
print(orders.dtypes); print(orders.describe())

In [ ]:
# list of orders of some shop, most orders are similar buying a couple of items but some (at least one) in thousands

####  What is the average Purchase Price?

In [ ]:
print(orders['amount_spent'].mean())

#### What were the highest and lowest purchase prices?

In [ ]:
print(orders['amount_spent'].max())

In [ ]:
print(orders['amount_spent'].min())

#### Select all the customers we have in Spain

In [45]:
print(orders.query("Country == 'Spain'"))

#### How many customers do we have in Spain?
##### Hint : Use value_counts()

In [ ]:
print(orders.query("Country == 'Spain'").loc[:, "CustomerID"].value_counts().count())

#### Select all the customers who have bought more than 50 items ?

In [ ]:
print(orders.query("items > 50"))

#### Select orders from Spain that are above 50 items

In [ ]:
print(orders.query("Country == 'Spain' and items > 50"))

#### Select all free orders

In [ ]:
print(orders.query("amount_spent == 0"))

#### Select all orders that are 'lunch bag'
#### Hint: Use string functions

In [ ]:
print(orders[orders['Description'].str.contains('lunch bag', case=False, na=False)])

#### Select all orders that are made in 2011 and are 'lunch bag'

In [ ]:
print(orders.query("year == 2011")[orders['Description'].str.contains('lunch bag', case=False, na=False)])

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
print(orders.query("Country == 'Spain'")['amount_spent'].value_counts())

#### Select all orders made in the month of August

In [ ]:
print(orders.query("month == 8"))

#### Select how many orders are made by countries in the month of August
##### Hint: Use value_counts()

In [ ]:
print(orders.query("month == 8")['Country'].value_counts())

#### What's the  average amount of money spent by country

In [ ]:
print(orders.groupby('Country').agg({'amount_spent': 'mean'}))

#### What's the most expensive item?

In [ ]:
print(orders.loc[orders['UnitPrice'] == orders['UnitPrice'].max()])

#### What was the average amount spent per year ?

In [ ]:
print(orders.groupby('year').agg({'amount_spent': 'mean'}))